.body-team {
    background-color: #2e3141;
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../images/team/team-cover.jpg");
    background-size: auto, cover;
    background-attachment: fixed, fixed;
    background-position: center, center;
}

/* Article */

.features .article-team {
    width:calc(40% - 1.5em);
    height:40%;
    margin:5%
}


/* Team Member*/
#team-member{
    width:80%;
    background-color:#2e3141;
    margin:auto;
    padding:5%;
    border-radius:5px;
    display:block;
    min-height:40em;
    
}
 
#team-member img{
    border-radius:100%;
    width:20%;
    margin-bottom:5%;
}

#team-left{
    display:inline-block;
}

#team-right{
    display:inline-block;
    vertical-align:top;
    margin-left:5%;

}

#team-right h1{
    font-size: 2em;
    -moz-transition: opacity 0.5s ease, -moz-transform 0.5s ease, -moz-filter 0.25s ease;
    -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease, -webkit-filter 0.25s ease;
    -ms-transition: opacity 0.5s ease, -ms-transform 0.5s ease, -ms-filter 0.25s ease;
    transition: opacity 0.5s ease, transform 0.5s ease, filter 0.25s ease;
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -moz-transition-delay: 0.65s;
    -webkit-transition-delay: 0.65s;
    -ms-transition-delay: 0.65s;
    transition-delay: 0.65s;
    -moz-filter: blur(0);
    -webkit-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    font-size: 2.25em;
    margin-bottom: 0.8em;
    padding-bottom: 0.4em;
}


#team-content .linkedin-left{
    display:inline-block;
    float:left;
    width: 2em;
    height:2em;
    border-radius:100%;
    border: solid 2px rgba(255, 255, 255, 0.125);
}

#team-content .linkedin-left span{
    margin-left:.5em;
    width:1em;
}

#team-content .linkedin-right{
    display:inline-block;
    float:left;
}



